<div style="margin-top:20px;margin-left: 25%;width:50%">
  <form [formGroup]="profileForm">
    <label for="fname">Account Name</label>
    <input type="text" pattern="^([A-Za-z]+[,.]?[ ]?|[A-Za-z]+['-]?)+$" placeholder="Please enter account name"
      formControlName="name">
    <!-- regex used for validations -->
    <label for="lname">Account Amount</label>
    <input type="number" pattern="[0-9]{1,9}" placeholder="Please enter account amount" formControlName="balance">
    <!-- regex used for validations -->
    <label for="country">Account Type</label>
    <select id="country" formControlName="type">
      <option disabled value="">Please select account type</option>
      <option *ngFor="let t of types" [ngValue]="t">{{ t }}</option>
    </select>
    <button class="submit" [disabled]="profileForm.invalid" (click)="createNew()">Create New</button>
  </form>
</div>